*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/deviceManager.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/.name
/.idea/deploymentTargetDropDown.xml
/.idea/shelf/
.DS_Store
/build
/.kotlin
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/.gradle/
/build-logic/.kotlin/
/build-logic/convention/build/
/.idea/AndroidProjectSystem.xml
